@charset "utf-8";
/* CSS Document */
html{height:100%; width:100%; overflow:hidden;}
body{font-family: "微软雅黑"; font-size:12px; color:#666;}
a{text-decoration:none; color:#3b4c5e;}
.head{width:100%; margin:0 auto; padding-top:30px; position:relative; overflow:hidden; height:81px;}
.head .head-b{border-bottom:1px solid #7fa2d2;}
.head .top{width:1020px;margin:0 auto; overflow:hidden; padding-right:20px;}
.head .top .nav,.head2 .top2 .nav2{width:595px; float:right; overflow:hidden;}
.head .top .nav ul li,.head2 .top2 .nav2 ul li{width:70px; float:left; line-height:30px; font-size:14px; text-align:center; margin-right:35px;}
.head .top .nav ul li a{display:inline-block; width:70px;  padding-bottom:7px;}
.head .top .nav ul li a:hover,.head .top .nav ul li a.nav-on{border-bottom:2px solid #3b4d60; padding-bottom:5px;}
.head .top .logo{width:242px; height:72px; background:url(../images/whole.png) no-repeat; position:absolute; top:39px; overflow:hidden;}
.head .top .logo-login{width:242px; height:72px; background:url(../images/whole.png) no-repeat scroll -483px -251px; position:absolute; top:39px; overflow:hidden;}
.head .top .logo a{width:242px; height:122px; display:inline-block;}

.head2{width:100%; margin:0 auto; padding-top:30px; overflow:hidden; height:80px; background:url(../images/top-bg.png) repeat-x;}
.head2 .top2{width:1000px; margin:0 auto; overflow:hidden;}
.head2 .top2 .logo2{width:325px; height:45px; margin-top:5px; float:left; background:url(../images/whole.png) no-repeat scroll -273px -605px;}
.head2 .top2 .nav2 ul li a{display:inline-block; width:70px;  padding:8px 0 32px;}
.head2 .top2 .nav2 ul li a:hover,.head2 .top2 .nav2 ul li a.nav-on{border-bottom:2px solid #00aeee; padding-bottom:30px;}



.main{width:1115px; position:absolute; top:50%; left:50%; margin-left:-615px; margin-top:-260px; padding:0px 0 0 115px; overflow:hidden;}
.main .main-c{width:1000px; overflow:hidden; float:left;}
.main .main-c .first{width:1000px; overflow:hidden;}
.main .main-c .first .search{width:740px; overflow:hidden; height:35px; float:left; padding-top:43px;}
.main .main-c .first .search input{display:inline-block; float:left; width:625px; height:33px; line-height:33px; border:solid 1px #97a6b7; background:url(../images/whole.jpg) no-repeat scroll 10px -42px; background-color:#FFF; padding-left:25px; color:#999;}
.main .main-c .first .search a.search-a{width:88px; height:34px; display:inline-block; float:right; background:url(../images/whole.jpg) no-repeat;}

.main .main-c .first .square{width:250px; float:left;}
.main .main-c .first .square ul{width:250px; overflow:hidden;}
.main .main-c .first .square ul li{width:250px; height:42px; line-height:42px; background:url(../images/whole.png) no-repeat scroll 0px -140px; overflow:hidden; color:#FFF; float:left;}
.main .main-c .first .square ul li .nav-select{width:115px; height:42px; line-height:42px; float:left;}
.main .main-c .first .square ul li .nav-select p{display:block; line-height:42px; color:#ffd206; padding-left:32px;}
.main .main-c .first .square ul li .set{background:url(../images/whole.png) 75px -202px no-repeat;}
.main .main-c .first .square ul li .select{background:url(../images/whole.png) 75px -252px no-repeat;}
.main .main-c .first .square ul li .new{width:100px; position:absolute; display:none;  text-align:center; z-index:100;}
.main .main-c .first .square ul li .nav-select dl dd{line-height:28px; background:url(../images/li-bg.png); margin-bottom:1px; color:#FFF;}
.main .main-c .first .square ul li .nav-select dl dd:hover{background:#fff;color:#666;}

.main .main-c .first .square ul li .time{width:120px; float:left; height:42px; line-height:42px;}
.main .main-c .first .square ul li .time span{padding-right:20px;}
.main .main-c .first .square ul li a{display:inline-block; width:35px; float:left; color:#FFF;}
.main .main-c .first .square ul li span.line{display:inline-block; float:left; padding:0 15px;}
.main .main-c .first .square ul li a.login{background:url(../images/whole.png) no-repeat scroll 32px -302px; padding-left:65px;}
.main .main-c .first .square ul li a.a-enter{background:url(../images/whole.png) no-repeat scroll 15px -393px; padding-left:48px; width:85px;}
.main .main-c .first .square ul li a.exit{width:55px;}
.main .main-c .first .square ul li a.registered{background:url(../images/whole.png) no-repeat scroll 17px -348px; padding-left:42px;}

.main .main-c .two{width:1000px; overflow:hidden;}
.luara-left{position:relative; padding:0; overflow: hidden;}
.luara-left ul{position:relative;padding: inherit; margin: 0;}
.luara-left ul li{float:left; padding: inherit;margin: inherit; list-style: none;}
.luara-left ul li img{width: inherit;height: inherit;}
.banner{width:500px; float:left;}
.banner ol{position:relative;width:120px; height:20px; bottom:30px; left:390px;}
.banner ol li{float:left; width:13px; height:3px; margin: 5px;background: #fff; list-style:none;}
.banner ol li.seleted{background: #006e9d;}




.main .main-c .two .notice{width:250px; height:221px; overflow:hidden; position:relative; float:left;}
.main .main-c .two .notice{width:250px; overflow:hidden;}
.main .main-c .two .notice .not_tit{position:absolute;z-index:100; width:250px; height:38px; top:0px; left:0px;}
.main .main-c .two .notice .not_tit ul{list-style:none; display:inline;}
.main .main-c .two .notice .not_tit ul li{height:38px; line-height:38px; width:125px; float:left; font-size:14px; color:#373737; text-align:center; cursor:pointer; overflow:hidden; background-color:#eeeeee;}
.main .main-c .two .notice .not_tit ul li.on{width:125px; background-color:#768ba4; color:#FFF;}
.main .main-c .two .notice .cz_dis{display:block; overflow:hidden;}
.main .main-c .two .notice .cz_undis{display:none; overflow:hidden;}
.main .main-c .two .notice .cent_time{width:250px; height:183px; margin-top:38px; overflow:hidden; background-color:#FFF;}
.main .main-c .two .notice .cent_time dl{width:230px; padding:0 10px; overflow: hidden; color:#122e67; font-size:12px; color:#666;}
.main .main-c .two .notice .cent_time dl dd{width:230px; overflow:hidden; line-height:22px; border-bottom:dashed 1px #e1e1e1; padding:8px 0;}
.main .main-c .two .notice .cent_time dl dd.bbn{border-bottom:none;}
.main .main-c .two .notice .cent_time dd a{color:#666;  width:230px; display:block; overflow:hidden; float:left; position:relative;}
.main .main-c .two .notice .cent_time dd a:hover{color:#ff4f00;}
.main .main-c .two .notice .cent_time dd span{width:85px; text-align:right; position:absolute; right:0px; bottom:0px;}




.main .main-c .two .electronic{width:210px; height:191px; overflow:hidden; background-color:#006e9d; padding:15px 20px; position:relative; float:left;}
.main .main-c .two .electronic h4{width:210px; text-align:right; color:#FFF; text-shadow:1px 1px 0 #015376;}
.main .main-c .two .electronic h4 span{font-size:24px; font-weight:bold;}
.main .main-c .two .electronic h4 span.span-yb{color:#f4cc11; font-size:26px;}
.main .main-c .two .electronic h4 span.span-s{font-size:12px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
.main .main-c .two .electronic .ele-cont{width:210px; overflow:hidden; padding-top:10px;}
.main .main-c .two .electronic .ele-cont .ele-cont-l{width:130px; height:145px; background:url(../images/whole.png) no-repeat scroll -295px 0; float:left;}
.main .main-c .two .electronic .ele-cont .ele-cont-r{width:52px; height:90px; background:url(../images/whole.png) no-repeat scroll -310px -143px; float:right; margin-top:20px;}
.main .main-c .two .electronic .ele-cont .ele-cont-r a{width:52px; height:90px; display:inline-block;}


.main .main-c .three{width:1000px; overflow:hidden;}
.main .main-c .three ul li{width:210px; height:188px; overflow:hidden; padding:15px 20px; position:relative; float:left;}
.main .main-c .three ul li.download{background-color:#e9e9e9;}
.main .main-c .three ul li.help{background-color:#006e9d;}
.main .main-c .three ul li.about{background:url(../images/about.jpg) no-repeat;}
.main .main-c .three ul li.paper{background-color:#25cac4;}
.main .main-c .three ul li h4{width:210px; color:#444; }
.main .main-c .three ul li.help h4{color:#fff;}
.main .main-c .three ul li.about h4{color:#006e9d;}
.main .main-c .three ul li.paper h4{width:210px; text-align:right; color:#FFF; text-shadow:1px 1px 0 #66a572;}
.main .main-c .three ul li.paper h4 span{font-size:24px; font-weight:bold;}
.main .main-c .three ul li.paper h4 span.span-yb{color:#f4cc11; font-size:26px;}
.main .main-c .three ul li h4 span{font-size:24px; font-weight:bold;}
.main .main-c .three ul li h4 span.span-s{font-size:12px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
.main .main-c .three ul li .thr-li-cont{width:210px; overflow:hidden; padding-top:10px;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-l2{width:99px; height:99px; float:left; padding-right:15px; margin-top:15px; border-right:1px solid #c1bfbf;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-r2{font-size:18px; font-weight:bold; padding:50px 0 0 15px; width:80px; float:left;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-r2 a{border:1px solid #c1bfbf; display:inline-block; padding:0px 8px; box-shadow:1px 1px 0 #fff;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-l{width:150px; height:145px; background:url(../images/whole.png) no-repeat scroll -496px 0; float:left;}
.main .main-c .three ul li.help .thr-li-cont .thr-li-cont-l{background:url(../images/whole.png) no-repeat scroll -710px 15px; width:130px; height:145px;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-r{width:52px; height:90px; background:url(../images/whole.png) no-repeat scroll -310px -143px; float:right; margin-top:20px;}
.main .main-c .three ul li .thr-li-cont .thr-li-cont-r a{width:52px; height:90px; display:inline-block;}


.electronic:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.electronic,.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .electronic,*html .clearfix{height:1%;}
.electronic,.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix,*+html .clearfix{min-height:1%;}
.electronic .rsp,.three .rsp{width:250px;height:221px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}
.electronic .text,.three .text{position:absolute;width:250px;height:430px;left:-300px;top:0px;overflow:hidden;}
.electronic .text a.a-big,.three .text a.a-big{background:url(../images/whole.png) no-repeat scroll -756px -238px; width:61px; height:61px; display:inline-block; margin:80px 92px;}
.electronic .text div,.three .text div{text-align:center;color:#FFFFFF;font-size:18px;}


.main .main-r{width:115px; height:50px; margin-top:84px; text-align:center; float:left; background:url(../images/whole.jpg) no-repeat scroll 1px -84px; font-weight:bold; padding-top:65px;}
.main .main-r a{display:inline-block; width:115px; height:30px;}


.bottom{padding:12px; width:100%; text-align:center; background-color:#444; color:#FFF; line-height:22px; position: absolute; bottom:0;}
.login-bottom{ padding:15px; text-align:center; color:#FFF; line-height:22px; width:100%; position: absolute; bottom:0;}





.sub-login{width:322px; height:422px; padding-top:60px; background:url(../images/login-bg.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-161px; margin-top:-194px;  overflow:hidden;}
.sub-login ul{width:322px; overflow:hidden;}
.sub-login ul li{width:242px; height:45px; line-height:45px; font-size:14px; padding:0 40px 16px; overflow:hidden; color:#999; text-align:center; float:left;}
.sub-login ul li input{width:242px; height:45px; line-height:45px; display:inline-block; float:left;  border:none; color:#999; text-align:center;}
.sub-login ul li input.input-name{background:url(../images/whole.png) no-repeat scroll -406px -139px;}
.sub-login ul li input.input-num{background:url(../images/whole.png) no-repeat scroll -406px -194px; width:135px;}
.sub-login ul li input.checkbox{width:16px;}
.sub-login ul li a{color:#999;}
.sub-login ul li a.a-num{width:95px; height:43px; display:inline-block; float:left; margin-left:10px; border:1px solid #c1bfbf;}
.sub-login ul li a.a-button{width:242px; height:38px; line-height:38px; display:inline-block; background:url(../images/whole.png) no-repeat scroll -575px -195px; color:#FFF; text-align:center;}
.sub-login ul li span.span-line{padding:0 10px; display:inline-block; font-size:12px;}
.sub-login ul li .nav-select{width:242px; height:45px; line-height:45px;background:url(../images/whole.png) no-repeat scroll -406px -139px;}
.sub-login ul li .nav-select p{display:block; line-height:45px; width:242px; text-align:center;}
.sub-login ul li .set{background:url(../images/whole.png) 175px -698px no-repeat;}
.sub-login ul li .select{background:url(../images/whole.png) 175px -747px no-repeat;}
.sub-login ul li .new{width:242px; position:absolute; display:none; text-align:center; z-index:100;left:42px;}
.sub-login ul li .nav-select dl dd{line-height:28px; background:url(../images/li-bg.png); margin-bottom:1px; color:#FFF;}
.sub-login ul li .nav-select dl dd:hover{background:#fff;color:#666;}


.sub-main{width:1000px; overflow:hidden; position:absolute; top:50%; left:50%; margin-left:-500px; margin-top:-233px;}
.sub-main .sub-main-l{width:209px; float:left;}
.sub-main .sub-main-l .s-m-l-tit{width:166px; font-size:27px; font-weight:bold; color:#0472b9; text-shadow:1px 1px 0 #fff; line-height:36px; margin-top:20px; overflow:hidden;}
.sub-main .sub-main-l .s-m-l-tit h4 span{color:#ea9b02;}
.sub-main .sub-main-l .s-m-l-tit p.sub-tit-p1{background:url(../images/whole.png) no-repeat scroll -280px -326px; margin-top:5px;}
/*.sub-main .sub-main-l .s-m-l-steps{width:166px; height:210px; margin-top:90px; background:url(../images/whole.png) no-repeat scroll -652px -392px;}*/
/*.sub-main .sub-main-l .s-m-l-steps{width:166px; height:210px; margin-top:90px; background:url(../images/whole.png) no-repeat scroll -459px -392px;}*/
.sub-main .sub-main-l .s-m-l-steps{width:166px; height:210px; margin-top:90px; background:url(../images/whole.png) no-repeat scroll -257px -392px;}

.sub-main .sub-main-r{width:791px; float:left; overflow:hidden;}
.sub-main .sub-main-r .s-m-r-object{width:790px; border-right:1px solid #d6d5d5; overflow:hidden; background-color:#FFF;}
.sub-main .sub-main-r .s-m-r-object ul li{width:158px; height:142px; float:left; overflow:hidden;}
.sub-main .sub-main-r .s-m-r-object ul li a{display:block; text-align:center; width:157px; height:120px; font-size:14px; font-weight:bold; border:1px solid #d6d5d5; border-right:none; padding-top:20px;}
.sub-main .sub-main-r .s-m-r-object ul li a span{display:inline-block; width:60px; height:74px;}
.sub-main .sub-main-r .s-m-r-object ul li a span.a-object1{background:url(../images/whole.jpg) no-repeat scroll -245px -108px;}
.sub-main .sub-main-r .s-m-r-object ul li a span.a-object2{background:url(../images/whole.jpg) no-repeat scroll -401px -108px;}
.sub-main .sub-main-r .s-m-r-object ul li a span.a-object3{background:url(../images/whole.jpg) no-repeat scroll -559px -108px;}
.sub-main .sub-main-r .s-m-r-object ul li a span.a-object4{background:url(../images/whole.jpg) no-repeat scroll -106px -267px;}
.sub-main .sub-main-r .s-m-r-object ul li a span.a-object5{background:url(../images/whole.jpg) no-repeat scroll -264px -267px;}
.sub-main .sub-main-r .s-m-r-object ul li a:hover,.sub-main .sub-main-r .s-m-r-object ul li a.object-on{width:151px; height:118px; border:3px solid #2997df; padding-top:18px; padding-left:1px; color:#2997df;}


.sub-main .sub-main-r .s-m-r-register{width:699px; border:1px solid #d6d5d5; border-top:2px solid #2997df; padding:40px 45px; overflow:hidden;background-color:#FFF; margin-top:25px;}
.sub-main .sub-main-r .s-m-r-register .s-m-r-register-form{width:430px; padding-right:20px; border-right:1px solid #efefef; float:left; overflow:hidden;}
.s-m-r-register .s-m-r-register-form ul li{width:430px; overflow:hidden; padding-bottom:20px; line-height:30px;}
.s-m-r-register .s-m-r-register-form ul li span.register-form-span{display:inline-block; text-align:right; width:80px; float:left;font-size:14px;}
.s-m-r-register .s-m-r-register-form ul li span.register-form-star{display:inline-block; padding:0 10px; color:#F00; float:left;}
.s-m-r-register .s-m-r-register-form ul li input.register-input{border:1px solid #bdc9d2; width:300px; height:30px; line-height:30px; display:inline-block; float:left;}
.s-m-r-register .s-m-r-register-form ul li input.checkbox{width:16px;}
.s-m-r-register .s-m-r-register-form ul li a.a-button2,.s-m-r-register .s-m-r-register-form ul li a.a-button3{ display:inline-block; width:88px; height:29px; line-height:28px; color:#FFF; margin:0 0 0 25px; text-align:center; font-size:14px;}
.s-m-r-register .s-m-r-register-form ul li a.a-button2{background: url(../images/whole.jpg) no-repeat scroll -116px 0;}
.s-m-r-register .s-m-r-register-form ul li a.a-button3{background: url(../images/whole.jpg) no-repeat scroll -231px 0;}

.s-m-r-register .s-m-r-register-return{width:195px; float:left; padding:70px 0 0 45px; text-align:center; font-size:14px; line-height:28px;}
.s-m-r-register .s-m-r-register-return p{ padding-bottom:5px;}
.s-m-r-register .s-m-r-register-return a.a-button2{display:inline-block; width:88px; height:29px; line-height:28px; color:#FFF; text-align:center; font-size:14px; background: url(../images/whole.jpg) no-repeat scroll -116px 0; margin-left:5px;}



.sub-main .sub-main-l2{width:240px; height:507px; float:left; background:url(../images/leftnav-bg.png) no-repeat scroll center top;}
.sub-main .sub-main-l2 .s-m-l-tit2{width:180px; padding:0 30px; text-align:center; font-size:27px; font-weight:bold; color:#0472b9; text-shadow:1px 1px 0 #fff; line-height:36px; margin-top:30px; overflow:hidden;}
.sub-main .sub-main-l2 .s-m-l-tit2 h4 span{color:#ea9b02;}
.sub-main .sub-main-l2 .s-m-l-tit2 p.sub-tit-p2{background:url(../images/whole.jpg) no-repeat scroll -336px 0; margin-top:10px;}
.sub-main .sub-main-l2 .s-m-l-tit2 p.sub-tit-p3{background:url(../images/whole.jpg) no-repeat scroll -485px -272px; margin-top:10px;}
.sub-main .sub-main-l2 .s-m-l-query{width:240px; margin-top:20px; font-size:18px; font-weight:bold; text-align:center; line-height:80px; overflow:hidden;}
.sub-main .sub-main-l2 .s-m-l-query ul li{width:240px; height:80px; line-height:80px;}
.sub-main .sub-main-l2 .s-m-l-query ul li a{display:block; width:240px; height:80px; color:#2468aa;}
.sub-main .sub-main-l2 .s-m-l-query ul li a:hover,.sub-main .sub-main-l2 .s-m-l-query ul li a.leftnav-on{background:url(../images/whole.png) no-repeat scroll -12px -595px; color:#FFF;}
.sub-main .sub-main-l2 .s-m-l-info{width:240px; margin-top:25px; font-size:14px; line-height:28px; overflow:hidden;}
.sub-main .sub-main-l2 .s-m-l-info ul li{width:240px;}
.sub-main .sub-main-l2 .s-m-l-info ul li a{width:155px; padding-left:85px;}
.sub-main .sub-main-l2 .s-m-l-info ul li a.info-list1{background:url(../images/whole.png) no-repeat scroll 55px -448px;}
.sub-main .sub-main-l2 .s-m-l-info ul li a.info-list2{background:url(../images/whole.png) no-repeat scroll 55px -477px;}
.sub-main .sub-main-l2 .s-m-l-info ul li a.info-list3{background:url(../images/whole.png) no-repeat scroll 55px -505px;}

.sub-main .sub-main-l2 .s-m-l-login{width:240px; height:42px; line-height:42px; background:url(../images/whole.png) no-repeat scroll 0px -140px; overflow:hidden; color:#FFF; margin-top:20px;}
.sub-main .sub-main-l2 .s-m-l-login a{display:inline-block; width:35px; float:left; color:#FFF;}
.sub-main .sub-main-l2 .s-m-l-login span.line{display:inline-block; float:left; padding:0 15px;}
.sub-main .sub-main-l2 .s-m-l-login a.login{background:url(../images/whole.png) no-repeat scroll 32px -302px; padding-left:65px;}
.sub-main .sub-main-l2 .s-m-l-login a.registered{background:url(../images/whole.png) no-repeat scroll 17px -348px; padding-left:42px;}

.sub-main .sub-main-r2{width:748px; float:left; overflow:hidden; border:1px solid #8dcaf5; background-color:#FFF; position:relative;}
.sub-main .sub-main-r2 h4{text-align:center; font-size:20px; font-weight:bold; padding:10px 0;}
.sub-main .sub-main-r2 .querytit-a{width:998px; background:url(../images/tit-bg.jpg) repeat-x; height:32px; overflow:hidden; font-size:14px; text-align:center}
.sub-main .sub-main-r2 .querytit-a a{background-color:#FFF; float:right; width:120px; margin-top:5px; color:#004a92;}
.sub-main .sub-main-r2 .s-m-r-querytit{width:748px; background:url(../images/tit-bg.jpg) repeat-x; height:32px; overflow:hidden; font-size:14px; text-align:center;}
.sub-main .sub-main-r2 .s-m-r-querytit span.querytit-span{width:182px; height:28px; line-height:28px; display:inline-block; float:left; margin:4px 0 0 45px; background:url(../images/whole.png) no-repeat scroll -21px -547px;}
.sub-main .sub-main-r2 .s-m-r-querytit a.querytit-a2{background-color:#FFF; float:right; width:120px; margin-top:5px; color:#004a92;}
.sub-main .sub-main-r2 .s-m-r-querypaper{width:748px; overflow:hidden; font-size:14px;}
.sub-main .sub-main-r2 .s-m-r-querypaper .querytit{width:550x; position:absolute; z-index:100;top:54px; left:45px;}
.sub-main .sub-main-r2 .s-m-r-querypaper .querytit ul{list-style:none; display:inline;}
.sub-main .sub-main-r2 .s-m-r-querypaper .querytit ul li{height:28px; line-height:28px; width:182px; float:left; font-size:14px; color:#fff; text-align:center; cursor:pointer; overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-querypaper .querytit ul li.on{width:182px; display:inline-block; color:#666; background:url(../images/whole.png) no-repeat scroll -21px -547px;}
.sub-main .sub-main-r2 .s-m-r-querypaper .pj_dis{display:block; overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-querypaper .pj_undis{display:none; overflow:hidden;}



.sub-main .sub-main-r2 .s-m-r-querypaper .s-m-r-queryform{width:490px; padding:65px 0; margin:0 auto;  overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-queryform ul{width:490px;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li{width:490px; overflow:hidden; padding-bottom:20px; line-height:30px; float:left;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li span.query-form-span{display:inline-block; text-align:right; width:80px; float:left;font-size:14px;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li input.query-input{border:1px solid #bdc9d2; width:280px; height:30px; line-height:30px; display:inline-block; float:left;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li a.a-modify{float:left; padding-left:10px;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li a.a-button4,.sub-main .sub-main-r2 .s-m-r-queryform ul li a.a-button5{ display:inline-block; width:88px; height:29px; line-height:28px; color:#FFF; margin:0 30px 0 0; text-align:center; font-size:14px;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li a.a-button4{background: url(../images/whole.jpg) no-repeat scroll -116px 0;}
.sub-main .sub-main-r2 .s-m-r-queryform ul li a.a-button5{background: url(../images/whole.jpg) no-repeat scroll -231px 0;}


.sub-main .sub-main-r2 .s-m-r-tickettit{width:998px; background:url(../images/tit-bg.jpg) repeat-x; height:32px; overflow:hidden; font-size:14px; text-align:center;}
.sub-main .sub-main-r2 .s-m-r-tickettit span.tickettit-span{width:182px; height:28px; line-height:28px; display:inline-block; float:left; margin:4px 0 0 45px; background:url(../images/whole.png) no-repeat scroll -21px -547px;}
.sub-main .sub-main-r2 .s-m-r-tickettit a.tickettit-a{background-color:#FFF; float:right; width:120px; margin-top:5px; color:#004a92;}
.sub-main .sub-main-r2 .s-m-r-ticketcont{width:900px; padding:35px 0; margin:0 auto; overflow:hidden; min-height:370px;}
.sub-main .sub-main-r2 .s-m-r-ticketcont .ticketcontdetail{width:900px; overflow:hidden;}
.ticketbutton{width:900px; margin:0 auto; overflow:hidden; margin-top:20px; padding:10px; text-align:center;}
.ticketbutton a{display:inline-block; padding:10px 10px 0 0; width:100px; height:34px; line-height:34px; margin:0 30px; text-decoration:none; color:#FFF; position:relative; font-weight:bold; font-size:14px;}
.ticketbutton a.a-bg1{background: url(../images/whole.jpg) no-repeat scroll -110px 12px;}
.ticketbutton a.a-bg2{background: url(../images/whole.jpg) no-repeat scroll -225px 12px;}
.ticketbutton a span{ display:inline-block; height:18px; line-height:18px; width:18px; background-color:#009cd3; position:absolute; top:0; right:0; border:1px solid #FFF; font-weight:normal; font-size:12px;}



.sub-main .sub-main-r2 .s-m-r-noticetit{width:668px; padding:30px 35px 0;  font-size:12px; overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-noticetit .noticetit-link{width:210px; float:left; line-height:35px;}
.sub-main .sub-main-r2 .s-m-r-noticetit .noticetit-link a{padding:0 5px;}
.sub-main .sub-main-r2 .s-m-r-noticetit .search{width:440px; overflow:hidden; height:35px; float:right;}
.sub-main .sub-main-r2 .s-m-r-noticetit .search input{display:inline-block; float:left; width:325px; height:32px; line-height:32px; border:solid 1px #97a6b7; background:url(../images/whole.jpg) no-repeat scroll 10px -42px; background-color:#FFF; padding-left:25px; color:#999;}
.sub-main .sub-main-r2 .s-m-r-noticetit .search a.search-a{width:88px; height:34px; display:inline-block; float:right; background:url(../images/whole.jpg) no-repeat;}
.sub-main .sub-main-r2 .s-m-r-noticelist{width:668px; padding:30px 35px 15px; font-size:12px; overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-noticelist ul{width:668px; height:335px; overflow:hidden;}
.sub-main .sub-main-r2 .s-m-r-noticelist ul li{width:668px; float:left; overflow:hidden; color:#666; height:36px; line-height:36px; border-bottom:1px dashed #e1e1e1;}
.sub-main .sub-main-r2 .s-m-r-noticelist ul li a{width:468px; color:#666; float:left; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.sub-main .sub-main-r2 .s-m-r-noticelist ul li a:hover{color:#ff4f00;}
.sub-main .sub-main-r2 .s-m-r-noticelist ul li span{width:100px; float:right; text-align:right}



.sub-main .sub-main-r2 .s-m-r-noticepage{width:668px; padding:0 35px 32px; text-align:right;}
.sub-main .sub-main-r2 .s-m-r-noticepage a{display:inline-block; line-height:18px; border:solid 1px #d9d9d9; width:20px; height:20px; text-align:center; margin-right:3px; background-color:#FFF; font-size:12px; line-height:22px;}
.sub-main .sub-main-r2 .s-m-r-noticepage a.page_path{font-size:10px; width:25px;}
.sub-main .sub-main-r2 .s-m-r-noticepage a.page_on{background-color:#0d62c1; color:#FFF;}
.sub-main .sub-main-r2 .s-m-r-noticepage a:hover{background-color:#0d62c1; color:#FFF;}








