.ticketbutton{width:900px; margin:0 auto; overflow:hidden; margin-right:-115px; padding:10px; text-align:center;}
.ticketbutton a{display:inline-block; padding:10px 10px 0 0; width:100px; height:34px; line-height:34px; margin:0 30px; text-decoration:none; color:#FFF; position:relative; font-weight:bold; font-size:14px;}
.ticketbutton a.a-bg1{background: url(images/whole.jpg) no-repeat scroll -110px 12px;}
.ticketbutton a.a-bg2{background: url(images/whole.jpg) no-repeat scroll -225px 12px;}
.ticketbutton a span{ display:inline-block; height:18px; line-height:18px; width:18px; background-color:#009cd3; position:absolute; top:0; right:0; border:1px solid #FFF; font-weight:normal; font-size:12px;}

#acctInfo{}
#acctInfo tr{line-height:30px;}
#acctInfo tr td.amt{align:right;}
