@charset "utf-8";
/* CSS Document */

body{
	font-family: "微软雅黑";
    overflow: hidden
}
/*登录*/

.login-bg{
	width: 100%;
	height: 1050px;
	position: relative;
	overflow: hidden;
}

.login-bgc{
	width: 1920px;
	height: 1050px;
	margin: 0 auto;

	overflow: hidden;

}
.login{
	width: 356px;
	height: 360px;
	background: url(images/login-xtm.png) no-repeat;
	position: absolute;
	top:17%;
	left: 50%;
	margin-left: 186px;
}

.login-tit{
	width: 356px;
	height: 52px;
}
.login-tit ul {
	width: 356px;
	height: 52px;
}
.login-tit ul li{
	width: 178px;
	height: 52px;
	float: left;
	color: #fff;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	cursor: pointer;
}
.login-tit ul li:hover{
	color: #ffd956;
}

.login-ny{
	width: 330px;
	height: 320px;
	margin-left: 26px;
}

.number{
	width: 280px;
	height: 42px;
	background: #fff;
	margin-left: 15px;
	margin-top: 24px;
	color: #7e7e7e;
	text-indent: 30px;
	font-size: 16px;
	float: left;
}

.yzm{
	width: 154px;
	height: 42px;
	background: #fff;
	margin-left: 15px;
	margin-top: 24px;
	color: #7e7e7e;
	text-indent: 30px;
	font-size: 16px;
	float: left;
}
.bas{
	height: 46px;
	width: 115px;
	background: #7d7a88;
	float: left;
	margin-top: 24px;
	margin-left: 10px;
}
.login-dl{
	width: 282px;
	height: 42px;
	border-radius: 3px;
	background: #ff3f3f;
	float: left;
	margin-top: 24px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	line-height: 42px;
	margin-left: 15px;
	cursor: pointer;
}	
.bot{
	width: 320px;
	height: 30px;
	font-size: 12px;
	color: #fff;
	margin-top: 12px;
	float: left;
}
.login-zc{
	float: left;
	margin-left: 16px;
	cursor: pointer;
}
.login-zc a{
	color: white;
}

.login-mm{
	float: left;
	margin-left: 184px;
	cursor: pointer;
}
.login-mm a{
	color: white;
}
.login-zc a:hover{
	color: #ffd956
}
.login-mm a:hover{
	color: #ffd956
}
.loginchange:hover{
	color: #ffd956
}
.cuowu{
	color: #ffd956;
	width: 250px;
	height: 24px;
	background: url(images/icon-box.png) no-repeat scroll 0px 1px;;
	padding-left: 25px;
	margin-left: 30px;
	margin-top: 23px;
}



















