@charset "UTF-8";
html
{
    font: normal 12px verdana;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
    scrollbar-arrow-color: #2a87a9; /*图6,三角箭头的颜色*/
	scrollbar-face-color: #c9dbf2; /*图5,立体滚动条的颜色*/
	scrollbar-3dlight-color: #4cb7f0; /*图1,立体滚动条亮边的颜色*/
	scrollbar-highlight-color: white; /*图2,滚动条空白部分的颜色*/
	scrollbar-shadow-color: white; /*图3,立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color: #4cb7f0; /*图4,立体滚动条强阴影的颜色*/
	scrollbar-track-color: #e4eef0; /*图7,立体滚动条背景颜色*/
	scrollbar-base-color: #98d4ff; /*滚动条的基本颜色*/
}

body,div,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote
	{
	margin: 0;
	padding: 0;
}

img,iframe {
	border: 0 none;
}

address,caption,cite,code,dfn,var {
	font-style: normal;
	font-weight: 400;
}

caption,th {
	text-align: left;
}

q:before,q:after {
	content: "";
}

abbr,acronym {
	border: 0;
}

html,body{
	height: 100%;
}

body {
	background-color: #fff;
	font: 12px 宋体, Myriad, Helvetica, Tahoma, Arial, clean, sans-serif;
	color: #000;
}

h1 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.1667em;
	font-weight: 700;
	line-height: 1.0em;
	margin-top: 1.0em;
}

h3,h4,h5,h6 {
	font-size: 1em;
	font-weight: 700;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 0;
}

p {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

blockquote {
	font-size: .916em;
	margin-top: 3.272em;
	margin-bottom: 3.272em;
	line-height: 1.636em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1.636em;
}

pre,code {
	font-size: 100%;
	font-family: Courier, "Courier New";
	background-color: #efefef;
	border: 1px solid #ccc;
}

pre {
	border-width: 1px 0;
	padding: 1.5em;
}

#clear {
	content: ".";
	clear: both;
	border: none;
	font: 1;
	height: 0;
	widht: 0;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

#body {
	width: 950px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#body .padding {
	height: 100%;
	width: 100%;
}

.btnRow a {
	border: none;
	background: url(../images/site/home_btn.gif) no-repeat;
	display: inline-block;
	zoom: 1;
	margin-right: 20px;
	line-height: 24px;
	height: 24px;
	width: 87px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.btnRow a:hover {
	color: #FF0;
}

a.img {
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#msg_error_000 {
	height: 300px;
	width: 100%;
	overflow: auto;
}

input {
	background-color: #FFF
}
.divLayout{float:left;display:inline;padding-bottom:40px;overflow:hidden}
.divPanel{height:100%;padding:0 4px;}
.divPanel .mb{clear:both;height:100%;overflow:hidden;}
.divPanel .mb li{clear:both;padding:0 0 0 10px; height:27px;width:95%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.more{border:none; width:41px; height:18px}
/*标题*/
h1.divTitle01{clear:both;font-size:14px;height:32px}
h1.divTitle01 button{float:right; margin:7px 7px 0 0;cursor:pointer}
h1.divTitle01 span{float:left;display:block; width:70%; padding:0 0 0 8px; height:26px;line-height:26px;text-align:left; font-size:14px}
div,form,img,ul,ol,li,dl,dt,dd,p {margin: 0; padding: 0; border: 0}
ul,li{list-style-type:none}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px;}
h1{font-size:12px; text-align:left}
/*Fix Float BUG 万能闭合*/
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix{display:inline-block}

#chk_idAll { height:100%; width:100%; overflow-x: scroll; overflow-y: scroll; }
