@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, hr, p, ul, ol, li, button, input, textarea, th, td, div, dl, dt, dd, samp

{

   font:12px/1.5 宋体,arial,tahoma;
   margin:0;
   padding:0;

}
a
{
	text-decoration:none;
}
em
{
	font-style:normal;
}
.col_main:after, .col_left:after, .col_right:after, .clear:after, .content:after

{

  content:" "; 
  display: block; 
  clear: both; 
  height: 0; 

}
.content

{

 margin:0 auto;
 display:block;
 height:auto;
 overflow:hidden;

 }

 
 /*头部*/
 
.top
{
	width:100%;
	height:7%;
	background:url('images/system/topbg.jpg') repeat-x left top;
	 
}
.top .col_left
{
	 width:602px;
	 float:left;
}
.top .col_right
{
	/*width:330px;*/
	padding-top:5px;
	float:right;
	color:#234278;
	text-align:right;
	margin-right:5px;
}
.top .col_right div
{
	margin-top:10px;
}
.top .col_right img
{
	vertical-align:middle;
}
.top .col_right a{

	margin-right:5px;
	margin-left:2px;
}
.top .col_right a:link,.top .col_right a:visited
{
	color:#ffefbe;
}

.top .col_right a:hover,.top .col_right a:active
{
	color:#fff400;
	 
}
/*主窗口*/
.main
{
	background-color:#d1e2f4;
}

.main .col_left
{
	 width:225px;
	 float:left;
	 background-color:#fff;
	 border:1px solid #9db0c1;
	 height:700px;
 
}

.main .col_right
{
	 margin-left:230px;
	 background-color:#fff;
	 border:1px solid #9db0c1;
	 height:700px;

}
.nav
{
	background-color:#f0f0f0;
	border-bottom:1px solid #9db0c1;
    border-top:1px solid #9db0c1;
	padding:5px 10px;
	line-height:30px;
	color:#325387;
}

.nav input
{
	height:25px;
	border:1px solid #97b1d2;
}
.nav .all
{

}
.nav .btn
{
	background-image:url('images/system/bt_1.gif');
    color:#325387;
    width:58px;
	height:26px;
	text-align:center;
	line-height:26px;
    border:0;
    margin-left:5px;
    cursor:pointer;
}

.nav .btn:hover
{
	background-image:url('images/system/bt.gif');
	color:#bd5916;
   
}
/*表格*/
.management
{
	  margin:10px;
}
.management  table
{
  background-color:#d9e2ee;
}
.management td
{
	background-color:#fff;
	height:33px;
	line-height:33px;
	text-align:left;
	text-indent:5px;
	width:auto;
	width:80px;
	min-width:80px;
	
}
.management thead td
{
	text-align:center;
	 font-weight:bold;
}
.management thead td ,.news h5
{
	 background:url('images/system/t_bg.gif') repeat-x left top;
	 height:33px;
	 line-height:33px;
	 color:#325387;
	
}
/*新闻公告 待办事件*/

.news
{   
	float:left;
	margin:10px 0 0 10px;
	width:376px;
	border:1px solid #b4c6dd;
	color:#325387;
}
.news h5
{
	 border-bottom:1px solid #b4c6dd;

}
.news h5 b
{
	 
	 text-indent:10px;
	 float:left;
	  width:100px;
}
.news h5 em
{
    width:50px;
	float:right;
	 
}
.news .col_main
{
	padding:10px;
	height:160px;
	overflow:hidden;	 
}

.news .col_main dl
{
	
}

.news .col_main dt
{
	float:left;
	width:276px;
	text-align:left;
	line-height:26px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;

	
}
.news .col_main dd
{
	float:right;
	line-height:26px;
	width:80px;
	text-align:right;
}
.a_b_o a:link, .a_b_o a:visited
{
	color:#325387;
}
.a_b_o a:hover, .a_b_o a:active
{
	color:#ff6a13;
}







#mainbk {
	height: 100%;
	border: solid 2px #d2e0f2;
	border-top: none;
	border-bottom: none;
}

#top {
background:url('images/system/admin_topbk1.gif') repeat-x;color:#000;
padding:0 0 0 2px;
height:28px;
border-bottom: solid 2px #447EE0;
}
#top a{
	color: #fff;
	text-decoration: none;
}
#top a:hover{
	color:red;	
}
.topleft{
float:left;font-size:16px;font-weight: bold;
color:#fff;
background:url('images/system/admin_topbk1.gif') repeat-x;
height:28px;
line-height: 28px;
}
.topright{
float:right;background: url(images/system/admin_topbk3.gif);
height:28px;
}
.easyui-accordion .submenu {
	padding: 0px;
}

.easyui-accordion a {
	text-decoration: none;
	color: #808080;
	display: block;
	padding-top: 4px;
	padding-left: 5px;
	font-size: 12px;
	text-align: left;
}

.easyui-accordion a:HOVER {
	border: 1px dashed #99BBE8;
	background: #E0ECFF;
	margin: -1;
	color: #416AA3;
}

.easyui-accordion a:ACTIVE {
	border: 1px solid #99BBE8;
	background: #E0ECFF;
	margin: -1;
	color: #416AA3;
	font-weight: bold;
}

.toptop {
	background-color: #F2f2f2;
	background-image:url("images/system/topbk.png");
	height: 15px;
}
#menu{
	width:150px;padding1:1px;overflow:auto;
}

.topLogo
{

	background:url('images/system/czt_logo.jpg') no-repeat left center;
	padding-left:50px;
	height:71px;
	font:600 28px/71px 黑体;
	color:#FFFFFF;	
	font-weight:bold;
}
.mainFont
{
	align:center;
	height:71px;
	font:600 28px/71px 黑体;
	color:#000000;	
	font-weight:bold;
}