@charset "UTF-8";
/*登录界面*/
body,div,span,dl,dt,dd,select,input
{
   font:12px/18px 宋体,arial,tahoma;
   margin:0;
   padding:0;
}
body
{
	background:url('images/system/bg.jpg') repeat left top;
}

.content
{
  margin:0 auto;
  width:718px;
  display:block;

 }
.col_main:after, .col_left:after, .col_right:after, .clear:after, .content:after

{
  content: " "; 
  display: block; 
  clear: both; 
  height: 0; 

}
.main
{
	background:url('images/system/top_bg.jpg') repeat-x left top;
	 
}
.logo
{
	background:url('images/system/logo.jpg') no-repeat top center;
	height:231px;
}
.middle
{
	background:url('images/system/middle.jpg') no-repeat top center;
	height:229px;
}
.footer
{
	background:url('images/system/footer.jpg') no-repeat top center;
	height:142px;

}
.col_main
{
	width:380px;
	height:150px;
	 padding:60px 0 0 270px;
}

.col_main .col_left
{
	width:290px;
	float:left;
}
.col_main .col_left dl
{
	
}
.col_main .col_left dt
{
	width:60px;
	float:left;
	text-align:right;
	font: 600 14px/30px 宋体;
	color:#0f6187;
}
.col_main .col_left dd
{
	 width:200px;
	 float:left;
	 margin-bottom:10px;

}
.col_main .col_left dd input
{
	height:25px;
	 width:200px;
	border:1px solid #91cfe4;
}
.col_main .col_right
{
	width:90px;
	float:right;
}
.col_main .col_right input
{
	border:0;
	cursor:pointer;
	width:90px;
}
 .login
{
	 background:url('images/system/login.jpg') no-repeat;
	 height:61px;
 
}
.login:hover
{
	 background:url('images/system/login_1.jpg') no-repeat;
	
 
}

.cancel
{
	background:url('images/system/cancel.jpg') no-repeat;
	height:38px;
	margin-top:5px;
 
}
.cancel:hover
{
	background:url('images/system/cancel_1.jpg') no-repeat; 
}
