@charset "utf-8";
/* CSS Document */

/*css reset yahoo*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%;	font-weight:normal; font-family:"微软雅黑";}
q:before,q:after { content:'';}
abbr,acronym { border:0;}

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/** 清除浮动 **/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}  
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/*统一字体样式*/
body,button,input,select,textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53;}
select, input, button, textarea{font: 100% Tahoma,Helvetica,Arial,sans-serif;}

/*文字排版*/
.f12{font-size:12px}
.f14{font-size:14px}
.fb{font-weight:bold}  
.fn{font-weight:normal} 
.t2{text-indent:2em}
.lh24{ line-height:24px;}
.unl{text-decoration:underline;}  
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left}  
.tc{text-align:center}  
.tr{text-align:right}  
.bc{margin-left:auto;margin-right:auto;}  
.fl{float:left;display:inline}  
.fr{float:right;display:inline}  
.cb{clear:both}  
.cl{clear:left}  
.cr{clear:right}
.vm{vertical-align:middle}  
.pr{position:relative}  
.pa{position:absolute}  
.abs-right{position:absolute;right:0}  
.zoom{zoom:1}  
.hidden{visibility:hidden}  
.none{display:none} 
/*长度高度*/  
.w{width:100%}
.w10{width:10px}
.w130{ width:130px;} 
.h{height:100%}
.h10{height:10px} 

 /*边距*/ 
.m10{margin:10px}  
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px} 
.mr10{margin-right:10px}
.mr5{margin-right:5px;}  

.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}  
.pt10{padding-top:10px}
.pt25{padding-top:25px}
.pb10{padding-bottom:10px}
.pl10{padding-left:10px}  
.pr10{padding-right:10px}

/*颜色*/
.red{ color:#f00; padding-left:10px;}
/*通栏横切结构样式*/
.area{ width:1000px; margin:0 auto;}
