@charset "utf-8";
/* CSS Document */
body{font-size:12px; font-family:"宋体"; color:#666;  background:url(./images/bj.jpg) repeat-x; background-color:#f9f9f9;}
a{text-decoration:none; color:#666;}
.head{width:100%; background:url(./images/head-bj.jpg) repeat-x; height:31px; line-height:31px;}
.head .head-cont{width:1000px; margin:0 auto; overflow:hidden;}
.head .head-cont .head-time{width:500px; float:left;}
.head .head-cont .head-time span{padding-right:5px;}
.head .head-cont .head-search{width:162px; padding-left:10px; float:right; height:26px; line-height:26px;  background:url(./images/search.jpg) no-repeat scroll 0 5px; overflow:hidden;}
.head .head-cont .head-search input{display:inline-block; border:none; background-color:#fcfcfc; height:21px; float:left;}
.head .head-cont .head-search input.sear-text{width:135px; color:#999; font-size:12px; height:14px; margin-top:8px;}
.head .head-cont .head-search input.sear-butt{width:27px; background:url(./images/search.jpg) no-repeat scroll right 5px; cursor:pointer;}

/* 导航 */
.main{width:1000px; margin:0 auto; overflow:hidden; background-color:#FFF; -webkit-box-shadow:#d1d1d1 0px 0px 5px; -moz-box-shadow: #d1d1d1 0px 0px 5px;box-shadow:#d1d1d1 0px 3px 3px;}
.main .nav{width:1000px; height:41px; background-color:#339cf7; overflow:hidden;}
.main .nav .nav-l{width:10px;background:url(./images/nav-left.jpg) no-repeat; height:41px; float:left;}
.main .nav .nav-c{width:980px;background:url(./images/nav-left.jpg) no-repeat;height:32px; line-height:32px; margin-top:9px; font-size:14px; font-weight:600; background:url(./images/nav-bj.jpg) repeat-x; float:left;}
.main .nav .nav-c ul li{width:130px; background:url(./images/nav-s.jpg) no-repeat scroll right; padding-right:2px; text-align:center; float:left;}
.main .nav .nav-c ul li a{font-size:15px; font-family:"微软雅黑";color:#fff;}
.main .nav .nav-r{width:10px;background:url(./images/nav-right.jpg) no-repeat;height:41px; float:left;}

/* 第一行 */
h4{width:465px; padding:1px 10px 0 10px; height:29px; background:url(./images/tit-bj2.jpg) no-repeat; font-size:14px; color:#003366;}
h4 span{display:inline-block; width:100px; height:29px; line-height:29px; padding-left:15px; background: url(./images/icon1.jpg) no-repeat scroll 0 10px; float:left; font-family:"微软雅黑"; font-weight:bold;}
h4 a{display:inline-block; width:50px; text-align:right; height:29px; line-height:29px; float:right; font-size:12px; color:#e88405;}
dl.list dd a{display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left;}
dl.list dd span{display:inline-block; text-align:right; float:right;}

.main .cont{width:980px; margin:0 auto; overflow:hidden;}
.main .cont .first{width:980px; overflow:hidden;}

/* 市级采购 县级采购 */
.main .cont .four .city{width:980px; overflow:hidden;}
.kTab .TabTitle h6,.oTab .TabTitle h6{display:inline-block; height:28px; line-height:28px; padding-left:15px; background: url(./images/icon1.jpg) no-repeat scroll 0 10px; font-family:"微软雅黑"; font-weight:bold; /*border-bottom:solid 2px #014595;*/ font-size:14px; width:58px; float:left; color:#333333;}
.kTab .TabContent  dd a,.oTab .TabContent dd a{color:#666; text-decoration:none; float:left; display:inline-block; width:330px; overflow:hidden; white-space: nowrap;text-overflow:ellipsis; background:url(./images/infoLink_bg.gif) no-repeat scroll 0px 10px; padding-left:10px;}
.kTab .TabContent  dd a span.span-area,.oTab .TabContent dd  span.span-area{color:#ff4f00; padding-right:5px;}
.kTab .TabContent dl dd span.span-date,.oTab .TabContent dl dd span.span-date{float:right; display:inline-block; width:85px; text-align:right;}


/* 政策法规 代理机构  投诉处理  曝光台*/
.main .cont .four .four-z{width:980px; overflow:hidden;}

.qTab,.rTab,.sTab,.tTab,.kTab,.oTab{width:485px; background-position:left; float:left;}
.qTab .TabTitle,.rTab .TabTitle,.sTab .TabTitle,.tTab .TabTitle,.qTab .TabTitle,.kTab .TabTitle,.oTab .TabTitle{clear:both; width:465px; height:30px; padding:0 10px; background:url(./images/tit-bj2.jpg) no-repeat; overflow:hidden;}
.qTab .TabTitle h6,.rTab .TabTitle h6,.sTab .TabTitle h6,.tTab .TabTitle h6{display:inline-block; height:30px; line-height:30px; padding-left:15px; background: url(./images/icon1.jpg) no-repeat scroll 0 10px; font-family:"微软雅黑"; font-weight:bold; font-size:14px; width:58px; float:left; color:#003366;}
.qTab .TabTitle ul,.rTab .TabTitle ul,.sTab .TabTitle ul,.tTab .TabTitle ul,.kTab .TabTitle ul,.oTab .TabTitle ul{width:330px; padding:0; margin:5px 0 0 10px; float:left;}
.qTab .TabTitle a,.rTab .TabTitle a,.sTab .TabTitle a,.tTab .TabTitle a,.kTab .TabTitle a,.oTab .TabTitle a{color:#e88405; display:inline-block; line-height:30px;width:30px; text-align:right; height:30px;  float:right; font-size:12px;}
.qTab .TabTitle li,.rTab .TabTitle li,.sTab .TabTitle li,.tTab .TabTitle li,.kTab .TabTitle li,.oTab .TabTitle li{float:left;width:63px; cursor:pointer; height:25px; line-height:25px; margin-right:3px; text-align:center;}
.qTab .TabTitle .active,.rTab .TabTitle .active,.sTab .TabTitle .active,.tTab .TabTitle .active,.kTab .TabTitle .active,.oTab .TabTitle .active{background:url(./images/tit-sbj5.jpg) no-repeat; color:#fff;}
.qTab .TabTitle .normal,.rTab .TabTitle .normal,.sTab .TabTitle .normal,.tTab .TabTitle .normal,.kTab .TabTitle .normal,.oTab .TabTitle .normal{background:url(./images/tit-sbj4.jpg) no-repeat; color:#666;}
.qTab .TabContent,.rTab .TabContent,.sTab .TabContent,.tTab .TabContent,.kTab .TabContent,.oTab .TabContent{width:483px; height:158px; padding:2px 0px 0px 0px; overflow:hidden;}

.qTab .TabContent dl,.rTab .TabContent dl,.sTab .TabContent dl,.tTab .TabContent dl,.kTab .TabContent  dl,.oTab .TabContent dl{width:463px; padding:0px 10px 3px; overflow:hidden; color:#122e67; font-size:12px; color:#666;}
.qTab .TabContent dl dd,.rTab .TabContent dl dd,.sTab .TabContent dl dd,.tTab .TabContent dl dd,.kTab .TabContent  dl dd,.oTab .TabContent dl dd{width:463px; overflow:hidden; line-height:24px;border-bottom:dashed 1px #f1f1f1;}
.qTab .TabContent dl dd.bbn,.rTab .TabContent dl dd.bbn,.sTab .TabContent dl dd.bbn,.tTab .TabContent dl dd.bbn,.kTab .TabContent  dl dd.bbn,.oTab .TabContent dl dd.bbn{border-bottom:none;}
.qTab .TabContent dd a,.rTab .TabContent dd a,.sTab .TabContent dd a,.tTab .TabContent dd a{color:#666; text-decoration:none; float:left; display:inline-block; width:330px; overflow:hidden; white-space: nowrap;text-overflow:ellipsis; background:url(./images/infoLink_bg.gif) no-repeat scroll 0px 10px; padding-left:10px;}
.qTab .TabContent dd a:hover,.rTab .TabContent dd a:hover,.sTab .TabContent dd a:hover,.tTab .TabContent dd a:hover,.kTab .TabContent  dd a:hover,.oTab .TabContent  dd a:hover{color:#ff4f00;}
.qTab .TabContent dd span,.rTab .TabContent dd span,.sTab .TabContent dd span,.tTab .TabContent dd span{float:right; display:inline-block; width:85px; text-align:right;}
.sr-cont a:hover{color:#ff4f00;}
.rTab .TabContent{width:483px; height:158px; padding:2px 0px 0px 0px; overflow:hidden;}


/* 底部*/
.bottom{width:1000px; margin:0 auto; text-align:center; overflow:hidden;}
.bottom .foot-head{width:1000px; background:url(./images/bottombj.jpg) repeat-x; overflow:hidden; line-height:30px; color:#FFF;}
.bottom .foot-head a{color:#FFF; display:inline-block; padding:0 8px;}
.bottom .foot-cont{padding:10px 0 25px; line-height:24px;}
.bottom .foot-cont p span{display:inline-block; padding:0 8px;}

.bkal{border:solid 1px #c8e3fe;}
.flal{overflow:hidden; white-space: nowrap;text-overflow:ellipsis;}





/* 查询 */
.main .sub{width:980px; margin:0 auto; overflow:hidden; padding-top:15px;}
.main .sub .sub-left{width:205px; float:left; overflow:hidden; border:solid 1px #b0dbfe; border-bottom:solid 6px #006dc4; border-top:solid 6px #006dc4; font-family:"微软雅黑"; padding-bottom:20px; margin-left:5px;}
.main .sub .sub-left h5{font-size:16px; font-weight:bold; color:#0665c3; padding:10px;}
.main .sub .sub-left h5 span{font-size:12px; font-weight:normal; color:#f4b42c;}
.main .sub .sub-left ul li{width:205px; height:35px; line-height:30px; overflow:hidden;}
.main .sub .sub-left ul li a{display:inline-block;width:205px; height:34px; line-height:34px; text-align:center; font-size:14px; background:url(./images/icon8.jpg) no-repeat scroll 60px 14px; background-color:#f1f1f1; border-bottom:1px solid #FFF;}
.main .sub .sub-left ul li a.left-nav{background:url(./images/icon7.jpg) no-repeat scroll 60px 14px; background-color:#eaf4fd; color:#0665c3;}
.main .sub .sub-left ul li a:hover{background:url(./images/icon7.jpg) no-repeat scroll 60px 14px; background-color:#eaf4fd; color:#0665c3;}
.main .sub .sub-right{width:753px; float:left; }
.main .sub .sub-right .sub-rbj{width:753px; background:url(./images/sub-right2.jpg) repeat-y; overflow:hidden;}
.main .sub .sub-right .sub-rbj2{width:753px; background:url(./images/sub-right1.jpg) no-repeat scroll left top; overflow:hidden;}
.main .sub .sub-right .sr-tit{width:713px; overflow:hidden; border-bottom:1px solid #fff; padding:15px 0px 5px 0px; margin:0 20px; line-height:20px;}
.main .sub .sub-right .sr-tit .sr-titl{width:310px; float:left; font-size:14px; font-weight:bold; color:#0665c3;font-family:"微软雅黑";}
.main .sub .sub-right .sr-tit .sr-titl span{font-size:12px; font-weight:normal; color:#f4b42c;}
.main .sub .sub-right .sr-tit .sr-titr{width:400px; float:right; text-align:right;}
.main .sub .sub-right .sr-tit .sr-titr a.titon{color:#265d9d;}
.main .sub .sub-right .sr-cont{width:703px; height:300px;padding:10px 35px 15px 15px;}
.main .sub .sub-right .sr-cont ul li{width:703px; background:url(./images/icon2.jpg) no-repeat scroll 5px 12px; line-height:28px; padding-left:15px; overflow:hidden;}
.main .sub .sub-right .sr-cont ul li a{display:inline-block; float:left; width:500px;}
.main .sub .sub-right .sr-cont ul li span{display:inline-block; float:right; width:100px; text-align:right;}
.main .sub .sub-right .sr-bottom{width:753px; height:20px; background:url(./images/sub-right3.jpg) no-repeat; overflow:hidden;}



/* 查询 */
.main .sub .search{width:940px; margin:5px 10px; padding:20px 10px; border-top:solid 3px #339cf7;}
.main .sub .search .search-form{width:940px; background:url(./images/search-img1.jpg) no-repeat scroll 690px center; padding-right:175px;}
.main .sub .search .search-form  h5{font-size:18px; font-weight:bold; background:url(./images/search-img2.jpg) no-repeat scroll 0 2px; padding:0px 0px 15px 25px; line-height:20px; color:#339cf7;}
.main .sub .search .search-form .form_list{width:660px; overflow:hidden; font-family:"微软雅黑"; color:#666; padding:20px 0px 10px 30px; border:1px solid #e3e0e0; border-left:none; border-right:none;}
.main .sub .search .search-form .form_list ul li{width:312px; height:28px;overflow:hidden; float:left; padding-bottom:15px; font-size:14px; }
.main .sub .search .search-form .form_list ul li span{display:inline-block; width:87px; text-align:right; height:28px; line-height:28px; color:#646464; float:left;}
.main .sub .search .search-form .form_list ul li span.line{width:10px; text-align:center;}
.main .sub .search .search-form .form_list ul li input{width:180px; padding-left:10px; height:28px; line-height:28px; border:solid 1px #e1e1e1; color:#999; float:left; background-color:#efefef; border-top:solid 1px #c6c6c6; overflow:hidden;}
.main .sub .search .search-form .form_list ul li input.time1{width:79px; overflow:hidden;}
.main .sub .search .search-form .form_list ul li select{width:192px; padding:5px 0; height:30px; line-height:30px; border:solid 1px #e1e1e1; background-color:#efefef; border-top:solid 1px #c6c6c6; color:#999; float:left;}
.main .sub .search .search-form  p{text-align:right; padding-top:20px; width:620px;}
.main .sub .search .search-form  p input{width:190px; height:50px; background-color:#339cf7; border:none; font-size:30px; color:#FFF; font-weight:bold; font-family:"微软雅黑"; cursor:pointer;}

.main .sub .search .search-list{width:940px; margin:50px 0 20px;}
.main .sub .search .search-list h5{font-size:18px; font-weight:bold; background:url(./images/search-img3.jpg) no-repeat scroll 0 2px; padding:0 0px 10px 25px; line-height:20px; color:#339cf7; border-bottom:1px solid #e3e0e0; margin-bottom:15px;}
.main .sub .search .search-list ul li{width:925px; background:url(./images/icon2.jpg) no-repeat scroll 5px 12px; line-height:28px; padding-left:15px; overflow:hidden;}
.main .sub .search .search-list ul li a{display:inline-block; float:left; width:700px;}
.main .sub .search .search-list ul li span{display:inline-block; float:right; width:100px; text-align:right;}
.main .sub .search .search-list .page{width:940px; text-align:right; margin-top:15px; padding-top:15px; border-top:1px solid #e3e0e0;}
.main .sub .search .search-list .page a{color:#0088cc; padding:0 5px;}