@charset "utf-8";
/* CSS Document */

/*css reset yahoo*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%;	font-weight:normal; font-family:"微软雅黑";}
q:before,q:after { content:'';}
abbr,acronym { border:0;}
a{text-decoration:none; color:#ffffff;}

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/** 清除浮动 **/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}  
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/*统一字体样式*/
body,button,input,select,textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53;}
select, input, button, textarea{font: 100% Tahoma,Helvetica,Arial,sans-serif;}

/*文字排版*/
.f12{font-size:12px}
.f14{font-size:14px}
.fb{font-weight:bold}  
.fn{font-weight:normal} 
.t2{text-indent:2em}
.lh24{ line-height:24px;}
.unl{text-decoration:underline;}  
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left}  
.tc{text-align:center}  
.tr{text-align:right}  
.bc{margin-left:auto;margin-right:auto;}  
.fl{float:left;display:inline}  
.fr{float:right;display:inline}  
.cb{clear:both}  
.cl{clear:left}  
.cr{clear:right}
.vm{vertical-align:middle}  
.pr{position:relative}  
.pa{position:absolute}  
.abs-right{position:absolute;right:0}  
.zoom{zoom:1}  
.hidden{visibility:hidden}  
.none{display:none} 
/*长度高度*/  
.w{width:100%}
.w10{width:10px}
.w130{ width:130px;} 
.h{height:100%}
.h10{height:10px} 

 /*边距*/ 
.m10{margin:10px}  
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px} 
.mr10{margin-right:10px}
.mr5{margin-right:5px;}  

.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}  
.pt10{padding-top:10px}
.pt25{padding-top:25px}
.pb10{padding-bottom:10px}
.pl10{padding-left:10px}  
.pr10{padding-right:10px}

/*颜色*/
.red{ color:#f00; padding-left:10px;}
/*通栏横切结构样式*/
.area{ width:1000px; margin:0 auto;}

#regIcon{background: url(images/icon-lo2.png) no-repeat scroll 4px 12px;}

/*主页*/

.top{
    width: 1200px;
    height: 60px;
    position: absolute;
    top: 0px;
    z-index: 999;
    margin-left: 75px;
}
.top-c{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 394px;
    height: 31px;
    background: url(images/LOGO.png) no-repeat;
    float: left;
    margin-top: 16px;
}
.namaie{
    line-height: 37px;
    font-size: 16px;
    color: #fff;
    float: left;
    margin-left: 9px;
    font-weight: 600;
    margin-top: 15px;
    font-family: "微软雅黑";
    letter-spacing:1px
}
.she{
    font-size: 14px;
    color: #fff;
    float:right;
    width: 98px;
    line-height: 32px;
    cursor: pointer;
    font-family: "微软雅黑";
    text-align: center;
    margin-top: 18px;
}
.she:hover{
    border-bottom: 2px solid #05a8c7;
}
.btn{
    width: 540px;
    height: 40px;
    margin-left: 836px;
    margin-top: 393px;
}
.btn ul{
    width: 530px;
    height: 40px;
}
.btn ul li{
    width: 125px;
    height: 34px;
    background: #fff;
    font-size: 16px;
    color: #62007a;
    float: left;
    margin-left: 36px;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.btn ul li:hover{
    background: #ffe970;
    color: #7a2800;
}
.dl{
    width: 135px;
    height: 37px;
    float: right;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
}

.dl ul{
    width: 170px;
    position: relative;
}
.dl ul li{
    float: left;
    width: 80px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: "微软雅黑"
}
.henz{
    width: 1px;
    height: 14px;
    background: #827f86;
    position: absolute;
    left: 70px;
    top: 13px;
}
.dl ul li:hover{
    color: #ffe65b;
}

.tu{
    width: 794px;
    height: 308px;
    background: url(images/banner.png) no-repeat;
    position: absolute;
    top:50px;
    left:283px;
}

.regIcon{background: url(images/icon-lo2.png) no-repeat scroll 4px 12px;}
.loginIcon{background: url(images/icon-lo.png) no-repeat scroll 4px 12px;}
