@charset "utf-8";
/* CSS Document */

.background{position:fixed;_position:absolute;z-index:10000;top:0px;left:0px;width:100%;_width:expression(document.documentElement.clientWidth);height:100%;_height:expression(document.documentElement.clientHeight);background:rgb(70,70,70);background:rgba(0,0,0,0.7);}
.webox{position:fixed;_position:absolute;z-index:10001;_background:#777;background:rgba(10,10,10,0.5);}
.webox #inside{background-color:#FFFFFF;height:500px;}
.webox #inside h1{-moz-user-select:none;-webkit-user-select:none;position:relative;display:block;margin:0;padding:0;font-size:14px;line-height:35px;height:35px;padding-left:15px;font-family:Arial;background:#2897DF;font-weight:normal;cursor:move;font-weight:800;color:#FFF;}
.webox #inside h1 a{position:absolute;display:block;right:15px;margin-top:6px;top:0px;font-size:14px;background:url(images/close.jpg) ;background-repeat:no-repeat;background-position:center top;width:15px;height:15px;cursor:pointer;display:inline-block;}
.webox #inside h1 a:hover{background-position:center bottom;}

#box{position:relative;}
.box-b{position:absolute; bottom:20px; width:224px; left:50%; margin-left:-112px;}
.box-cont{padding:25px 15px 15px; text-align:center;}
.box-b a{display:inline-block; width:88px; height:29px; line-height:28px; color:#FFF; margin:0 12px; text-align:center; font-size:14px;}
.box-b a.popup-a1{background: url(images/whole.jpg) no-repeat scroll -116px 0;}
.box-b a.popup-a2{background: url(images/whole.jpg) no-repeat scroll -231px 0;}