@charset "utf-8";
/* CSS Document */

body{
	font-family: "微软雅黑";
    overflow-x: hidden
}

/*主页*/
.banner{
	width: 100%;
	height: 733px;
	position: relative;
}
.banner-c{
	width: 1920px;
	height: 733px;
	margin: 0 auto;
	position: absolute;
	top:0px;
	left: 50%;
	margin-left: -960px;
	background: url(images/banner.png) no-repeat;

}
.main{

	;
}
.hs{
	width: 100%;
	height: 462px;
	background: #f3f3f3;
}
.stk-q{
	width: 1014px;
	height: 462px;
	background: url(images/img-sr1.png) no-repeat;
	margin: 0 auto}
.stk-w{
	width: 1014px;
	height: 462px;
	background: url(images/img-sr2.png) no-repeat;
	margin: 0 auto
}
.stk-e{
	width: 1014px;
	height: 462px;
	background: url(images/img-sr3.png) no-repeat;
	margin: 0 auto
}
.stk-r{
	width: 1014px;
	height: 462px;
	background: url(images/img-sr4.png) no-repeat;
	margin: 0 auto
}
.footer{
	background: #2b3443;
	height: 34px;
	width: 100%;
}
.footer-c{
	width: 1015px;
	margin: 0 auto;
	line-height: 34px;
	color: #fff;
	text-align: center;
}







