@charset "utf-8";
/* CSS Document */
body{
    overflow: hidden;
    font-family: "微软雅黑"
}
.bg{
    width: 100%;
    height: 1080px;
    background: url(images/bg.png) no-repeat;
    margin: 0 auto;

}
.top{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.logo{
    width: 394px;
    height: 31px;
    background: url(images/LOGO.png) no-repeat;
    float: left;
    margin-top: 16px;
}


.she{
    font-size: 14px;
    color: #fff;
    float:right;
    width: 98px;
    line-height: 32px;
    cursor: pointer;
    font-family: "微软雅黑";
    text-align: center;
    margin-top: 18px;
}
.she:hover{
    border-bottom: 2px solid #05a8c7;
}
.dl{
    width: 135px;
    height: 37px;
    float: right;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
}

.dl ul{
    width: 170px;
    position: relative;
}
.dl ul li{
    float: left;
    width: 80px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: "微软雅黑"
}
.dl ul li:hover{
    color: #00b1cb
}
.henz{
    width: 1px;
    height: 14px;
    background: #827f86;
    position: absolute;
    left: 70px;
    top: 13px;
}


/*注册*/
.box{
    width: 935px;
    height: 515px;
    margin: 0 auto;
    margin-top: 45px;
    font-family: "微软雅黑";
    position: relative;
}

.box-l{
    width: 240px;
    height: 515px;
    float: left;
    position: relative;
    background: #fff;
}
.box-ltit{
    font-size: 22px;
    color: #fff;
    margin-left: 28px;
    line-height: 86px;
    position: relative
}
.box-ltit span{
    font-weight: bold;
}
.box-lbg{
    width: 221px;
    height: 515px;
    background: url(images/bg-sm.png) no-repeat;
}
.box-ny{
    position: absolute;
    top:129px;
}
.txxx{
    height: 77px;
    width: 238px;
    background: url(images/hover-jiao.png) no-repeat;
}
.txxx-ny{
    font-size: 16px;
    color: #b4b4b4;
    line-height: 50px;
    width: 238px;
}
.fl{
    width: 84px;
    height: 49px;
    background: url(images/icon-1.png) no-repeat scroll 35px 9px;
}

.ht{
    width: 161px;
    background: #424448;
    height: 1px;
    margin-top: 14px;
    margin-left: 29px;
}

.box-r{
    width: 680px;
    height: 515px;
    background: #fff;
    float: left;

}
.wszl-tit{
    font-size: 22px;
    margin-left: 35px;
    margin-top: 35px;
}
.wszl-tit span{
    color: #0098ae
}
/*wjy*/
.asd{
    width: 79px;
    height: 43px;
    background: #9b9b9b;
    position: absolute;
    top:95px;
    left:515px;
    text-align: center;
    line-height: 43px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    border: none;
}
.asd:hover{
    background: #7b7b7b;
}
.wszl-ny{
    width: 620px;
    height: 275px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative
}

.yjm{
    font-size: 16px;
    color: #000000;
    float: left;
    line-height: 46px;
    margin-top: 22px;
}

.srk{
    width: 190px;
    height: 46px;
    border: #dbdbdb 1px solid;
    float: left;
    margin-top: 22px;
    color: #666666;
    text-indent: 11px;
    position: relative;
}
.srk span{
    width: 79px;
    height: 43px;
    background: #9b9b99;
    display: inline-block;
}

.futk{
    font-size: 14px;
    color: #000000;
    margin-left: 210px;
    margin-top: 30px;
    float: left;

}
.futk span{
    color: #00b1cb;
}
.box-login{
    width: 500px;
    height: 92px;
    margin-left: 115px;
    margin-top: 50px;
}
.bx{
    width: 131px;
    height: 37px;
    background: #00b1cb;
    float: left;
    line-height: 37px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-left: 11px;
    cursor: pointer;
}
.bx:hover{
    background: #026d7d;
}
.cx{
    width: 131px;
    height: 37px;
    background:#51555b;
    float: left;
    line-height: 37px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-left: 11px;
    cursor: pointer;
}
.cx:hover{
    background: #3d4044;
}
.yiyou{
    font-size: 16px;
    color: #000000;
    float: left;
    margin-left: 45px;
    line-height: 37px;
}

.yiyou span a{
    color: #ff6826;
    cursor: pointer;
}



/*用户管理 wjy*/
.hl{
    position: absolute;
    top:69px;
    left:27px;
    font-size: 16px;
    color: #fff;
    width: 180px;
}
.bg-yzm{
    width: 162px;
    height: 142px;
    background: url(images/bg-yzm.png) no-repeat;
    position: absolute;
    left: 276px;
    top:350px;
}
.sr-yzm{
    font-size: 14px;
    width: 106px;
    line-height: 26px;
    text-align: center;
}
.yzm-hs{
    width: 86px;
    height: 30px;
    background: #51555b;
    margin-left: 8px;
    margin-top: 5px;
}
.sq-yzm{
    font-size: 14px;
    width: 106px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
}
.sasd{
    width: 124px;
    height: 29px;
    border: 1px solid #dbdbdb;
    margin-left: 8px;
}
.lrr{
    width: 6px;
    height: 10px;
    background: url(images/icon-jt.png) no-repeat ;
    position: absolute;
    top: 20px;
    right: 52px;
}
.arr{
    width: 6px;
    height: 10px;
    background: url(images/icon-jt.png) no-repeat ;
    position: absolute;
    top: 98px;
    right: 52px;
}
.srr{
    width: 6px;
    height: 10px;
    background: url(images/icon-jt.png) no-repeat ;
    position: absolute;
    top: 175px;
    right: 52px;
}
.drr{
    width: 6px;
    height: 10px;
    background: url(images/icon-jt.png) no-repeat ;
    position: absolute;
    top: 252px;
    right: 52px;
}
.br{
    width: 6px;
    height: 10px;
    background: url(images/icon-jt.png) no-repeat ;
    position: absolute;
    top: 20px;
    right: 52px;
}

.lt{
    position: relative;
    cursor: pointer;
}
.lt:hover{
    color: #00b1cb;
}
.tcc{
    width: 200px;
    height: 40px;
    margin-top: 30px;
}
.tcc ul{
    width: 200px;
    overflow: hidden
}
.tcc ul li{
    float: left;
    color: #ffffff;
    font-size: 14px;
    margin-left: 38px;
    cursor: pointer;
}
.tcc ul li:hover{
    color: #FF8600
}
.zcxx{
    width: 340px;
    height: 232px;
    overflow: hidden;
    float: left;
    margin-left: 22px;
    position: relative
}
.img-yh{
    width: 160px;
    height: 172px;
    background: url(images/img-yh.png) no-repeat;
    float: left;
    margin-left: 45px;
    margin-top: 24px;
}
.bd{
    float: left;
    margin-top: 178px;
    color: #666666;
    cursor: pointer;
}
.glxm{
    width: 635px;
    height: 106px;
    float: left;
}
.glxm ul{
    width: 395px;
    height: 110px;
    float: left;
}
.glxm ul li {
    width: 84px;
    height: 41px;
    border: solid 1px #dbdbdb;
    float: left;
    margin-right: 11px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    font-family: "微软雅黑";
    cursor: pointer;
    background: url(images/xc.png) no-repeat scroll 65px 13px;
}
.glxm ul li:hover{
    background: url(images/xz.png) no-repeat scroll 65px 13px
}
.glxm ul li:hover{
    border: solid 1px #00c1de;
}
.glxm ul li input{
     width: 84px;
     border: none;
     height: 41px;
    text-indent: 11px;
 }
.glxm ul li img{
    width: 94px;
    height: 41px;
}

.xgglxm{
    font-size: 12px;
    color: #666666;
    float: left;
    margin-top: 24px;
}
.ddsx{
    color: #ff6826;
    float: left;
    margin-left: 145px;
    margin-top: 30px;
    font-size: 14px;
}
.lrrs{
    background: #51555b;
}
.lrrq{
    background: #00b1cb;
}
.xg-btn{
    width: 420px;
    height: 46px;
    margin-left: 184px;
    margin-top: 20px;
    float: left;
}
.xg-btn ul{
    width: 400px;
    overflow: hidden
}
.xg-btn ul li{
    width: 131px;
    height: 37px;
    color: #fff;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    margin-left: 56px;
    float: left;
    cursor: pointer;
}
.lrrq:hover{
    background: #038da1;
}

.lrrs:hover{
    background: #33363a
}
/*查验*/
.img-sl{
    width: 132px;
    height: 103px;
    background: url(images/img-sl.png) no-repeat;
    margin-left: 52px;
    margin-top: 50px;
}

.ddsx span{
    color: #00c1de;
    margin-right: 8px;
}
.img-th{
    width: 185px;
    height: 290px;
    background: url(images/img-sj.png) no-repeat;
    float: right;
    margin-right: 35px;
    margin-top: 24px;

}

.bt{
    font-size: 12px;
    color: #ff6826;
    float: left;
    margin-top: 36px;
    margin-left: 10px;
}



/*忘记密码*/
.hcqd{
    width: 98px;
    height: 50px;
    position: absolute;
    top: 98px;
    right: 41px;
}
.dianji{
    width: 96px;
    height: 29px;
    background: url(images/btn-x.png) no-repeat;
    float: left;
    line-height: 29px;
    text-indent: 15px;
    border:none;
    outline:medium
}
.qahc{
    margin-left: 13px;
    margin-top: 3px;
}
.xga{
    width: 100px;
    position: absolute;
    top:36px;
    left:400px;
    color: #00c1de;
    background: url(images/icon-jt.png) no-repeat scroll 29px 4px;;
}

.aga{
    width: 100px;
    position: absolute;
    top:106px;
    left:400px;
    color: #00c1de;
    background: url(images/icon-jt.png) no-repeat scroll 29px 4px;;
}
.qga{
    width: 121px;
    height: 48px;
    background: #00b1cb;
    position: absolute;
    top:162px;
    left:334px;
    text-align: center;
    line-height: 49px;
    color: #fff;
    cursor: pointer;
}
.qga:hover{
    background: #038da1;
}


/*用户信息*/


.img-lef{
    width: 152px;
    height: 155px;
    background: url(images/img-ler.png) no-repeat;
    float: right;
    margin-right: 44px;
    margin-top: 74px;
}
.zsj{
    width: 100px;
    height: 39px;
    background: #bcbcbc;
    position: absolute;
    top:27px;
    left:320px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
    border: none;
}


.tex{
    width: 84px;
    height: 41px;
    border: #dbdbdb 1px solid
}


/*完善资料*/
.dica{
    width: 480px;
    height: 36px;
    margin-left: 5px;
    margin-top: 11px;
}

.dica ul{
    width: 406px;
    height: 28px;
    overflow: hidden;
    float: left;
}

.dica ul li{
    width: 75px;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    background: url(images/rain.png) no-repeat scroll 0px 6px;
    font-size: 14px;
    float: left;
}
.dica ul li:hover{
    background: url(images/rain-l.png) no-repeat scroll 0px 6px;
}
.ykcx{
    float: left;
    font-size: 14px;
    color: #00b1cb;
    width: 64px;
    height: 26px;
    border-radius: 13px;
    text-align: center;
    line-height:26px ;
    cursor: pointer;
    border: #00b1cb solid 1px;
}

.ykcx:hover{
    background: #00b1cb;
    color: #fff;
}

.rqsd{
    width: 675px;
    height: 30px;
    overflow: hidden;
}
.qzsj{
    float: left;
    font-size: 12px;
    line-height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
.qzsq{
    float: left;
    font-size: 12px;
    line-height: 26px;
    margin-left: 5px;
    margin-right: 2px;
}
.qz-srk{
    width: 100px;
    height: 26px;
    float: left;
    font-size: 12px;
    line-height: 26px;
}
.jkang{
    margin-left: 3px;
    float: left;
    width: 95px;
    background: url(images/riqd.png) no-repeat scroll 75px 7px;
}

.text-le{
    width: 100px;
    height: 26px;
    border: 1px solid #dbdbdb;
    float: left;
}


.nayoya-bg{
    width: 659px;
    overflow: hidden;
    margin-top: 14px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin-left: 1px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody tr{

    vertical-align: inherit;
    border-color: inherit;
}
.table-hd th{
    height: 35px;
    background: #424e5d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-left: #eceded 1px solid;
}
.table-ny{
    margin-bottom: 20px;
    overflow: hidden;

}
.table-ny tr{
    border-bottom: 1px solid #eeeeee;
    height: 33px;
}
.table-ny tr td{
    text-align: center;
    font-size: 14px;
    border-left: #eceded 1px solid;
}
.bor tr{
    display: table-row;
    vertical-align: inherit;
    cursor: pointer;
}
.bor tr:hover{
    color: #ff9805;
}
.bor{
    border-left: #eeeeee 1px solid;
    border-right: #eeeeee 1px solid;

}
.lot{
    width: 16px;
    height: 16px;
}
.ymxz{
    width: 659px;
    height: 26px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
}
.ymxz-qx{
    color: #6478bc;
    width: 48px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #4888d7;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.ymxz-qx:hover{
    color: #fff;
    background: #4888d7;
    transition: 0.5s
}
.ymxz ul{
    color: #848484;
    line-height: 24px;
}
.ymxz ul li{
    float: left;
    width: 56px;
    height: 24px;
    margin-right: 3px;
    cursor: pointer;

}
.ymxz ul li:hover{
    color: #d72d2d
}
.ymxz-jl{
    color: #848484;
    float: right;

}
.ck{
    position: relative
}
.lack{
    width: 42px;
    height: 20px;
    background: #25ccc6;
    position: absolute;
    top: 6px;
    left:11px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}

/*wjy*/
.zsj{
    width: 100px;
    height: 39px;
    background: #bcbcbc;
    position: absolute;
    top:27px;
    left:320px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
    border: none;
}
.zsj:hover{
    background: #7b7b7b;
}

.wx{
    color: #fff;
    position: absolute;
    top:96%;
    left:30%;
}
.btn{
    width: 540px;
    height: 40px;
    margin-left: 836px;
    margin-top: 393px;
}
.btn ul{
    width: 530px;
    height: 40px;
}
.btn ul li{
    width: 125px;
    height: 34px;
    background: #fff;
    font-size: 16px;
    color: #62007a;
    float: left;
    margin-left: 36px;
    font-family: "微软雅黑";
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.btn ul li:hover{
    background: #ffe970;
    color: #7a2800;
}

.dx:hover{
    background: #ffe970;
    color: #7a2800;
}

.icon-x{
    width: 16px;
    height: 16px;
    background: url(images/iconx.png) no-repeat ;
    float: left;
    margin-top: 37px;
    margin-left: 7px;
}
.redq{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 71px;
    left:78px;
}

.redw{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 71px;
    left:405px;
}
.rede{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 141px;
    left:79px;
}
.redr{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 141px;
    left:405px;
}
.redt{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 212px;
    left:79px;
}
.redy{
    width: 200px;
    font-size: 12px;
    color: #F00E12;
    position: absolute;
    top: 212px;
    left:405px;
}

.regIcon{background: url(images/icon-lo2.png) no-repeat scroll 4px 12px;}
.loginIcon{background: url(images/icon-lo.png) no-repeat scroll 4px 12px;}

















