@charset "UTF-8";
body, div, ul, li{
	margin:0;
	padding:0;
}
body{
	font-family:"宋体", Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:25px;
	font-size:14px;
}
a:link, a:visited {
	text-decoration:none;
	color:#333333;
}
a:hover {
	text-decoration: underline;
	color:#333;/*#08A5E0*/
	text-decoration:none;
}

ul, ul li {
	list-style-type:none;
}
.cl {
	zoom:1;
}
/*网站头部*/
/*
.col960 {
	width:960px;
	margin:left;
}
.navbg {
	height:40px;
	width: 100%;
	background: #8288AB;
	box-shadow: 1px 1px 7px #999;
	position:relative;
	z-index:1;
	left:0;
}
#navul li {
	float: left;
	margin-right: 1px;
	width:120px;
	height:40px;
	position:relative;
	text-align:center;
	line-height:40px;
	font-size:14px;
}
#navul li.navhome {
	text-align:left;
	padding:0 0px 0 40px;
	width:100px;
}
#navul li a:link, #navul li a:visited {
	color:#FFFFFF;
	font-size:14px;
	
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#FFFFFC;
	border:#004E6C 1px solid;
	border-bottom:none;
	
}
#navul li ul li {
	display:block;
	width:120px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#004E6C 1px solid;
	font-size:12px;
	
}
#navul li.navmoon {
	background:#CCCCCC;
	border:#004E6C 1px solid;
	width:120px;
	height:38px;
	line-height:38px;
	
}
#navul li.navmoon a {
	color:#FFFFFF;
	font-size:14px;
	color:black;
}
#navul li.navhome a:hover {
	color:red;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:120px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#CCCCCC;
}
*/
/*导航样式*/
.navbox,.nav li,.nav li.current a,.nav li.selected a span,.nav li a.selected,.nav li a.selected span{background:url(images/nav_bg.png) no-repeat;}
.navbox{height:5%;background-position:0 -138px;background-repeat:repeat-x;position:relative;z-index:9;}
.nav{margin:0 auto;}
.nav li{float:left;height:39px;background-position:100% -99px;padding:0 3px 0 2px;position:relative;}
.nav li.last{background:none;}
.nav li a{float:left;display:block;padding:0 0 0 4px;height:39px;overflow:hidden;}
.nav li a span{float:left;display:block;padding:0 4px 0 0;line-height:39px;font-size:14px;color:#fff;font-weight:800;cursor:pointer;width:142px;text-align:center;}
.nav li.selected a,.nav li a.selected{background-position:0 -60px;text-decoration:none;}
.nav li.selected a span,.nav li a.selected span{background-position:100% -60px;color:#ff7e00;}
.nav li.selected .submenu{display:block;}
.nav li .submenu{display:none;position:absolute;top:39px;left:6px;}
.nav li .submenu{border-style:solid;border-width:0px 1px 1px 1px;border-color:#ddd;padding:0 5px 5px 5px;width:132px;background:#fff;}
.nav li .submenu{-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-moz-box-shadow:0 5px 5px #D3D3D3;-webkit-box-shadow:0 5px 5px #D3D3D3;box-shadow:0 5px 5px #D3D3D3;}
.nav li .submenu li{float:none;padding:0;background:none;height:auto;border-bottom:dotted 1px #BEBEBE;}
.nav li .submenu li.last{border:none;}
.nav li .submenu li a{float:none;padding:0;text-align:center;height:28px;line-height:28px;background:none;}
.nav li .submenu li a:hover{background:#ddd;font-weight:800;}